*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
button{
    font-size: 14px;
    background-color: #000;
    color: #fff;
    font-weight: 700;
    padding: 0.75rem 2rem;
}
.oursmallmainheading{
    font-weight: 700;
    text-transform: uppercase;
}
.playfair-display-font {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
ul{
    padding-left: 0;
    margin-bottom: 0;
}
li{
    list-style: none;
}
/* header start */
.toppestnav{
    text-align: center;
    background-color: black;
    color: #fff;
    font-weight: 500;
    padding: 0.5rem;
}
.toppestnav p{
    margin-bottom: 0;
    font-size: 14px;
}


.middlenav{
    position: sticky;
    top: 0;
    padding: 0.5rem 0;
    z-index: 99;
    background: #fff;
}
.middlenav i{
font-size: 1.25rem;
margin-left: 1.5rem;
}
@media (max-width:768px) {
    .middlenav i{
margin-left: 1rem;
}
}
nav{
    background-color: #000;
padding: 1rem 0;
}

nav li{
    position: relative;
    /* padding-bottom: 5px; */
}
nav li::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    width: 0;
    height: 2px;
    transition: all 0.3s;
}
nav li:hover::before{
    width: 100%;
}
nav a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}
nav p{
    color: #fff;
    margin-bottom: 0;
    font-size: 14px;
}
nav p i{
   background-color: #fff;
   color: #000;
   padding:0.35rem 0.5rem;
   border-radius: 50%;
   font-size: 1.25rem;
   margin-right: 0.5rem;
}
nav .container > div{
    transform: translateX(50%);
}

/* header end */



/* category menu */

.categorymenu{
    width: 300px;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    left: -350px;
    top: 0;
    overflow-y: scroll;
 z-index: 100;
    transition: 0.3s;
}
.categorymenuclose{
    display: flex;
    align-items: center;
justify-content: space-between;
padding: 0.5rem 1rem;
}
.categorymenuclose i{
    font-size: 1.5rem;
}
.categorymenuclose p{
font-weight: 700;
}
.categorymenu li{
    display: flex;
    align-items: center;
    justify-content: space-between;
padding: 0.5rem 1rem;
}
.categorymenu li:hover{
    background-color: whitesmoke;
}
.categorymenu li p{
margin-bottom: 0;
margin-left: 1rem;
font-weight: 700;
text-transform: uppercase;
}

/* menu */
.menu{
    position: fixed;
    top: -350px;
    background-color: #000;
    color: #fff;
width: 100%;
height: auto;
z-index: 100;
padding-top: 1rem;
transition: 0.3s;
}
.menu li{
    padding: 1rem ;
    border-bottom: 2px solid #fff;
}
.menuclosebtn{
    font-size: 2rem;
    margin-right: 1rem;
}
@media (min-width:992px) {
    .menu{
        display: none;
    }
}
/* banners */
.b1{
    background-image: url(../images/b1.webp);
}
.b2{
    background-image: url(../images/b2.webp);
}
.banners{
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 80vh;
}
.bannerscolor{
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
}
.bannerscolor h1{
    font-size: 4rem;
    color: #fff;
text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
text-transform: uppercase;
}
.bannerscolor p{
    text-transform: uppercase;
    color: #f1f1f1;
text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
@media (max-width:768px) {
    .bannerscolor h1{
    font-size: 2rem;
   
}
}

/* category section of the home page */
.ctgtextdiv{
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.ctgtextdiv img{
transition: 0.3s;
}
.ctgtextdiv:hover img{
transform: scale(1.1);
}
.ctgtext{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
   
}
.autoplay .col-2{
    padding: 0 0.25rem;
}


/* product card */
.productcard > div:hover{
    box-shadow: 0px 4px 16px rgba(128, 128, 128, 0.337);
}
.productcardtext{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.productcardtext > div p:first-child{
  font-weight: 700;
  text-transform: capitalize;
   white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
.productcardtext > div p:last-child del{
  color: #797979;
}
.productcardtext > div p:last-child{
  color: #000;
  font-weight: 500;
}
.productcardtext i{
    background-color: #000;
    color: #fff;
    padding:0.75rem;
    border-radius: 50%;
    font-size: 1.25rem;
}
.productcardwishlist{
    position: absolute;
    top: 1rem;
    right: 1rem;
  color: #fff;
  font-size: 1.25rem;
}
@media (max-width:992px) {
    .productcardtext > div p:first-child{
        font-size: 14px;
        width:180px;
    }
}
@media (max-width:576px) {
    .productcardtext i{
        display: none;
    }
    .productcardtext > div p:first-child{
        width:120px;
    }
}
.productcardcategory{
    overflow-x: auto;
    scrollbar-width: none;
    
}
.productcardcategory ul li{
border: 1px solid #000;
padding: 0.25rem 0.5rem;
text-transform: uppercase;
min-width:max-content;
font-size: 14px;
}
.c_active{
    background-color: #000000;
    color: #fff;
}
/* footer */
footer{
    background-color: #e06c51;
}
footer h4{
    color: #000000;

}
footer ul{
    line-height: 1.75;
}
footer ul li{
    width: fit-content;
    transition: 0.3s;
}
footer ul li:hover{
    transform: translateX(10px) !important;
}
footer ul li a{
    text-decoration: none;
    color: #000000;
    font-weight: 700;
}
footer .cntus i{
font-size: 1.25rem;
}
.iconss i{
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 50%;
  padding:0.5rem 0.75rem;
  position: relative;
    z-index: 1;
    margin-right: 1rem;
}
.iconss i::after{
    content: "";
    position: absolute;
top: 0;
left: 0;
height: 100%;
width: 0;
  background-color: rgba(0, 0, 0, 0.8);
border-radius: 50%;
transition: 0.3s;
 z-index: -1;
}
.iconss i:hover::after{
    width: 100%;
}
.bottomfooter{
    text-align: center;
    padding: 8px;
    background-color: #000000;

}
.bottomfooter a{
font-size: 14px;
    text-decoration: none;
    color: #fff;
}




/* About page */
.smallbanner{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.smallbanner > .container{
 position: absolute;
 /* top: 0;
 left: 0;
 height: 100%;
 width: 100%; */
}
.smallbanner h1{
    font-size: 4rem;
    color: #fff;
text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
text-transform: uppercase;
}
.smallbanner span{
   color: #fff;
}
.smallbanner p{
   color: #797979;
   margin-bottom: 0;
}
@media (max-width:768px) {
    .smallbanner h1{
    font-size: 2rem;
   
}
.smallbanner p{
font-size: 14px;
}
}

.about-list ul li{
display: flex;
gap: 1rem;
}

/* about services */
    .about-service .about-service-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-service .about-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 28.6rem;
    text-align: center;
}

.about-service .seperator {
    width: 1px;
    height: 12rem;
    background-color: rgba(224, 107, 81, 0.3);
    /* background: rgba(174, 28, 154, 0.1294117647); */
}
.wrapper-info{
    padding: 1rem 2rem;
}
.wrapper-info p {
    color: #797979;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 0;
}
.wrapper-info h5 {
   text-transform: uppercase;
   font-weight: 700;
}
@media (max-width:992px) {
    .about-service .about-service-section {
   flex-direction: column;
}
.about-service .seperator {
  display: none;
}
.about-service .about-wrapper {
    margin-bottom: 1rem;
    width: unset;
}
.wrapper-info{
    padding: 0;
}
}

/* testimonial */
    .tst_section{
        background-color: #f7d0c71f;
    }
    .divider {
    background: rgba(174, 28, 154, 0.08);
    width: 100%;
    height: 1px;
    border-radius: 50%;
    margin:0.75rem 0 1rem 0;
   
}
.testimonial-details{
    transform: translateY(-15px);
    color: #797979;
}
.testimonial-info-details h6{
font-weight: 700;
margin-bottom: 0;
}
.testimonial-info-details p{
font-size: 14px;
font-weight: 500;
 color: #797979;
}
.testimonial-info-details p span{
color: #e06c51;
}
.tst_div{
    border: 2px solid rgba(128, 128, 128, 0.1);
    padding: 1rem;
    border-radius: 10px;
     background-color: #ffffff;

}

/* terms and conditions */
.tcsection p{
color: #797979;
font-weight: 700;
}
.tcsection li{
font-size: 14px;
font-weight: 500;
list-style: disc;
color: #797979;
margin-left: 2rem;
}
.tcsection ul{
margin-bottom: 1rem;

}
.tcsection a{
    text-decoration: none;
}
.ppdiv{
    margin: 1.5rem 0; 
}






/* shop page */
.filterbtn{
    font-weight: 700;
    font-size: 18px;
}
.filterdiv{
    width: 20vw;
    max-height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
    position: sticky;
top: 0;
    left: 0;
background-color: #fff;
z-index: 100;
}
.productdiv{
    width: 80vw;
}
@media (max-width:992px) {
    .filterdiv{
        position: fixed;
        left: -350px;
        top: 0;
width: 280px;
    }
    .productdiv{
    width: 100vw;
}

}


.activediv{
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: #e06c51;
    text-decoration-thickness: 3px;
}